script(type='text/javascript', src='/javascripts/demo.js')
h1 AMQP Demo
p This is a simple demo of subscribing to queues on rabbitmq. Just type in a routing key and a new queue will be bound and start displaying the messages being published to that queue in real time. 


label Routing Key
  input#routing_key(type="text", name="routing_key")
input#bind(type="submit", value="Bind!")

fieldset
  legend Queues
